
.section2{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 15px;
  margin: 0 10%;
  /* float: left; */
 
}
.section2 div{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  color: white;
  background-color: #474a51;
  border-radius: 3px;
  cursor: pointer;
}
.section2 div:hover{
  background-color: #87878a;
  /* border: 0.5px solid #646568; */
}
.section2 img{
  height: 45vh;
  width: 100%;
  border-radius: 5px;
}
#sbody{
  background-color: #2e3035;
  padding-top: 10px;
  padding-bottom: 40px;
}

.left,.middle,.right{
   margin-left: 5%;
}
.sleft{
  margin-left: 0;
}
.sright{
  margin-left: 5%;
}